{
  "swagger": "2.0",
  "info": {
    "title": "Groups API",
    "description": "The University API implementation for the Group Reference Object.",
    "contact": {
      "name": "OIT Help Desk",
      "url": "https://it.byu.edu/byu/sc_help.do?sysparm_document_key=kb_knowledge,c2ab77855445ddc0377bf9d39097291f",
      "email": "it@byu.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://raw.githubusercontent.com/byu-oit/byuapi-groups-v1/master/LICENSE?token=AMbrI51g_8jATftY4dYghzHhdSUTsDKPks5b7xvPwA%3D%3D"
    },
    "version": "v1"
  },
  "host": "api.byu.edu:443",
  "basePath": "/byuapi/groups",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "x-controller": "groups",
      "get": {
        "x-operation": "getGroups",
        "tags": [
          "groups"
        ],
        "summary": "Retrieves a collection of groups",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---get"
        },
        "operationId": "getGroups",
        "parameters": [
          {
            "$ref": "#/parameters/group_tag"
          },
          {
            "$ref": "#/parameters/member_byu_id"
          },
          {
            "$ref": "#/parameters/administrator_byu_id"
          },
          {
            "$ref": "#/parameters/resource_groups_resource_id"
          },
          {
            "$ref": "#/parameters/search_context"
          },
          {
            "$ref": "#/parameters/search_text"
          },
          {
            "$ref": "#/parameters/field_sets"
          },
          {
            "$ref": "#/parameters/subset_start_offset"
          },
          {
            "$ref": "#/parameters/subset_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/groups"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}": {
      "x-controller": "groups",
      "get": {
        "x-operation": "getGroup",
        "tags": [
          "groups"
        ],
        "summary": "Retrieves a specific group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--get"
        },
        "operationId": "getGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/field_sets"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/group"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "x-operation": "putGroup",
        "tags": [
          "groups"
        ],
        "summary": "Changes a specific group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--put"
        },
        "operationId": "putGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/modify_group_body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/basic"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/basic"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteGroup",
        "tags": [
          "groups"
        ],
        "summary": "Deletes a specific group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--delete"
        },
        "operationId": "deleteGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/administrators": {
      "x-controller": "administrators",
      "get": {
        "x-operation": "getAdministrators",
        "tags": [
          "administrators"
        ],
        "summary": "Retrieves a collection of administrators for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--administrators-get"
        },
        "operationId": "getAdministrators",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/administrators"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/administrators"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/administrators/{byu_id}": {
      "x-controller": "administrators",
      "get": {
        "x-operation": "getAdministrator",
        "tags": [
          "administrators"
        ],
        "summary": "Retrieves a specific administrator of a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--administrators--byu_id--get"
        },
        "operationId": "getAdministrator",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/administrator"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/administrators/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "x-operation": "putAdministrator",
        "tags": [
          "administrators"
        ],
        "summary": "Changes a collection of administrators for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--administrators--byu_id--put"
        },
        "operationId": "putAdministrators",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          },
          {
            "$ref": "#/parameters/modify_administrator_body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/administrator"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/administrators/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteAdministrator",
        "tags": [
          "administrators"
        ],
        "summary": "Deletes a specific administrator",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--administrators--byu_id--delete"
        },
        "operationId": "deleteAdministrator",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/members": {
      "x-controller": "members",
      "get": {
        "x-operation": "getMembers",
        "tags": [
          "members"
        ],
        "summary": "Retrieves a collection of members for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--members-get"
        },
        "operationId": "getMembers",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/subset_start_offset"
          },
          {
            "$ref": "#/parameters/subset_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/members"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/members/{byu_id}": {
      "x-controller": "members",
      "get": {
        "x-operation": "getMember",
        "tags": [
          "members"
        ],
        "summary": "Retrieves a specific member of a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--members--byu_id--get"
        },
        "operationId": "getMember",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/member"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/members/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "x-operation": "putMember",
        "tags": [
          "members"
        ],
        "summary": "Changes a collection of members for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--members--byu_id--put"
        },
        "operationId": "putMember",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          },
          {
            "$ref": "#/parameters/modify_member_body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/member"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/members"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteMember",
        "tags": [
          "members"
        ],
        "summary": "Deletes a specific member",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--members--byu_id--delete"
        },
        "operationId": "deleteMember",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/byu_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/related_groups": {
      "x-controller": "related_groups",
      "get": {
        "x-operation": "getRelatedGroups",
        "tags": [
          "related_groups"
        ],
        "summary": "Retrieves a collection of related groups for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--related_groups--get"
        },
        "operationId": "getRelatedGroups",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/relationship_types"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/related_groups"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/related_groups"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/implied_groups/{implied_group_id}": {
      "x-controller": "related_groups",
      "put": {
        "x-operation": "addImpliedGroup",
        "tags": [
          "related_groups"
        ],
        "summary": "Changes a specific related group for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--implied_groups--implied_group_id--put"
        },
        "operationId": "addImpliedGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/implied_group_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/related_group"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/related_groups/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteImpliedGroup",
        "tags": [
          "related_groups"
        ],
        "summary": "Deletes a specific related group for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--implied_groups--implied_group_id--delete"
        },
        "operationId": "deleteImpliedGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/implied_group_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/required_groups/{required_group_id}": {
      "x-controller": "related_groups",
      "put": {
        "x-operation": "addRequiredGroup",
        "tags": [
          "related_groups"
        ],
        "summary": "Changes a specific related group for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--related_groups--related_group_id--put"
        },
        "operationId": "addRequiredGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/required_group_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/related_group"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/related_groups/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteRequiredGroup",
        "tags": [
          "related_groups"
        ],
        "summary": "Deletes a specific related group for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--related_groups--related_group_id--delete"
        },
        "operationId": "deleteRequiredGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/required_group_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/resource_groups": {
      "x-controller": "resource_groups",
      "get": {
        "x-operation": "getResourceGroups",
        "tags": [
          "resource_groups"
        ],
        "summary": "Retrieves a collection of resource groups for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--resource_groups-get"
        },
        "operationId": "getResourceGroups",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/resource_groups"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/resource_groups"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/resource_groups/{resource_id}": {
      "x-controller": "resource_groups",
      "get": {
        "x-operation": "getResourceGroup",
        "tags": [
          "resource_groups"
        ],
        "summary": "Retrieves a specific resource_group of a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--resource_groups--resource_id--get"
        },
        "operationId": "getResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/resource_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/resource_group"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/resource_groups/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "x-operation": "putResourceGroup",
        "tags": [
          "resource_groups"
        ],
        "summary": "Changes a collection of resource_groups for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--resource_groups--resource_id--put"
        },
        "operationId": "putResourceGroups",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/resource_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/resource_group"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/groups/values/0/resource_groups/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "x-operation": "deleteResourceGroup",
        "tags": [
          "resource_groups"
        ],
        "summary": "Deletes a specific resource_group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--resource_groups--resource_id--delete"
        },
        "operationId": "deleteResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/resource_id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{group_id}/membership_history": {
      "x-controller": "membership_history",
      "get": {
        "x-operation": "getMembershipHistory",
        "tags": [
          "members"
        ],
        "summary": "Retrieves a collection of members for a group",
        "externalDocs": {
          "url": "https://developer.byu.edu/api/groups#operation---group_id--membership_history-get"
        },
        "operationId": "getMembershipHistory",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/subset_start_offset"
          },
          {
            "$ref": "#/parameters/subset_size"
          },
          {
            "$ref": "#/parameters/revoked_datetime_gt_or_eq"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/membership_history"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    }
  },
  "definitions": {
    "metadata": {
      "type": "object",
      "properties": {
        "validation_response": {
          "type": "object",
          "properties": {
            "code": {
              "type": "integer",
              "default": 200,
              "x-variable": "validation_response_code"
            },
            "message": {
              "type": "string",
              "default": "OK",
              "x-variable": "validation_response_message"
            }
          },
          "required": [
            "code",
            "message"
          ]
        },
        "validation_information": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-variable": "validation_information"
        },
        "cache": {
          "type": "object",
          "properties": {
            "date_time": {
              "type": "string",
              "format": "date-time",
              "x-variable": "cache_date_time"
            }
          },
          "required": [
            "date_time"
          ]
        },
        "restricted": {
          "type": "boolean",
          "x-variable": "restricted"
        }
      },
      "required": [
        "validation_response"
      ],
      "additionalProperties": true
    },
    "collection_metadata": {
      "allOf": [
        {
          "$ref": "#/definitions/metadata"
        },
        {
          "type": "object",
          "properties": {
            "collection_size": {
              "type": "integer",
              "x-variable": "collection_size"
            },
            "default_subset_size": {
              "type": "integer",
              "description": "Unless overridden in query parameters, this endpoint will return this number of resources in each subset.",
              "x-variable": "default_subset_size"
            },
            "max_subset_size": {
              "type": "integer",
              "description": "The largest number of resources this API can return in one subset.",
              "x-variable": "max_subset_size"
            },
            "subset_start": {
              "type": "integer",
              "description": "The offset (zero based) from the beginning of the collection of the first instance in this subset.",
              "x-variable": "subset_start"
            },
            "subset_size": {
              "type": "integer",
              "description": "The number of instances in this subset.",
              "x-variable": "subset_size"
            }
          },
          "required": [
            "collection_size"
          ],
          "additionalProperties": true
        }
      ]
    },
    "field_set_array": {
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "basic",
          "administrators",
          "members",
          "related_groups",
          "resource_groups"
        ]
      }
    },
    "field_sets_metadata": {
      "type": "object",
      "properties": {
        "field_sets_returned": {
          "$ref": "#/definitions/field_set_array",
          "x-variable": "field_sets_returned",
          "description": "JSON array of all the field_sets represented in this result. May be different from the list of field_sets requested in the query string."
        },
        "field_sets_available": {
          "$ref": "#/definitions/field_set_array",
          "default": [
            "basic",
            "administrators",
            "members",
            "related_groups",
            "resource_groups"
          ],
          "description": "JSON array of all available field_sets available to request for this resource. A consumer may not have access to all field_sets in this array."
        },
        "field_sets_default": {
          "$ref": "#/definitions/field_set_array",
          "default": [
            "basic"
          ],
          "description": "The field_sets that will be returned if no field_sets query parameter is specified."
        }
      },
      "additionalProperties": true
    },
    "search_metadata": {
      "type": "object",
      "properties": {
        "search_contexts_available": {
          "type": "object",
          "properties": {
            "group_lookup": {
              "description": "Case insensitive, accepts wild cards (*), does a contains search of text",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "group_id",
                "group_name"
              ]
            }
          }
        }
      },
      "additionalProperties": true
    },
    "link": {
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "method": {
          "type": "string",
          "enum": [
            "GET",
            "PUT",
            "DELETE"
          ]
        }
      },
      "required": [
        "rel",
        "href",
        "method"
      ]
    },
    "groups": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "groups__info": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__info"
            },
            "groups__current": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__current"
            },
            "groups__first": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__first"
            },
            "groups__prev": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__prev"
            },
            "groups__next": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__next"
            },
            "groups__last": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__last"
            },
            "groups__create": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__create"
            }
          }
        },
        "metadata": {
          "allOf": [
            {
              "$ref": "#/definitions/collection_metadata"
            },
            {
              "$ref": "#/definitions/field_sets_metadata"
            },
            {
              "$ref": "#/definitions/search_metadata"
            }
          ]
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/group"
          }
        }
      }
    },
    "group": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "groups__info": {
              "$ref": "#/definitions/link",
              "x-variable": "group__info"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "basic": {
          "x-populate": false,
          "$ref": "#/definitions/basic"
        },
        "administrators": {
          "x-populate": false,
          "$ref": "#/definitions/administrators"
        },
        "members": {
          "x-populate": false,
          "$ref": "#/definitions/members"
        },
        "related_groups": {
          "x-populate": false,
          "$ref": "#/definitions/related_groups"
        }
      }
    },
    "api_type": {
      "type": "string",
      "enum": [
        "read-only",
        "modifiable",
        "system",
        "derived",
        "related"
      ]
    },
    "key": {
      "type": "boolean"
    },
    "group_id": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-variable": "group_id"
        },
        "description": {
          "type": "string",
          "x-nullable": true,
          "x-variable": "group_name"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "default": "read-only"
        },
        "key": {
          "$ref": "#/definitions/key",
          "default": true
        }
      },
      "required": [
        "value",
        "api_type"
      ],
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/group_id"
      }
    },
    "byu_id": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-variable": "byu_id"
        },
        "description": {
          "type": "string",
          "x-variable": "name"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "x-variable": "api_type"
        },
        "key": {
          "$ref": "#/definitions/key",
          "default": true
        }
      },
      "required": [
        "value",
        "api_type",
        "key"
      ],
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/members/values/0/byu_id"
      }
    },
    "by_byu_id": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "api_type": {
          "$ref": "#/definitions/api_type"
        }
      },
      "required": [
        "value",
        "api_type"
      ]
    },
    "effective_date": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date",
          "x-nullable": true,
          "x-variable": "effective_date"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "default": "system"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/effective_date"
      }
    },
    "expiration_date": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date",
          "x-nullable": true,
          "x-variable": "expiration_date"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "x-variable": "api_type"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/expiration_date"
      }
    },
    "created_by_byu_id": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-variable": "created_by_byu_id"
        },
        "description": {
          "type": "string",
          "x-nullable": true,
          "x-variable": "created_by_name"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "default": "system"
        }
      },
      "required": [
        "value",
        "api_type"
      ],
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/created_by_byu_id"
      }
    },
    "updated_by_byu_id": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-nullable": true,
          "x-variable": "updated_by_byu_id"
        },
        "description": {
          "type": "string",
          "x-nullable": true,
          "x-variable": "updated_by_name"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "default": "system"
        }
      },
      "required": [
        "value",
        "api_type"
      ],
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/updated_by_byu_id"
      }
    },
    "updated_datetime": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "x-variable": "updated_datetime"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "default": "system"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/basic/updated_datetime"
      }
    },
    "datetime": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "api_type": {
          "$ref": "#/definitions/api_type"
        }
      }
    },
    "date": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date",
          "x-nullable": true
        },
        "api_type": {
          "$ref": "#/definitions/api_type"
        }
      }
    },
    "employee_role": {
      "type": "object",
      "description": "The employee type, validated through the meta/employee_role service",
      "properties": {
        "value": {
          "type": "string",
          "x-variable": "employee_role",
          "default": null,
          "x-nullable": true
        },
        "description": {
          "type": "string",
          "x-variable": "employee_role_desc",
          "x-nullable": true,
          "default": null
        },
        "api_type": {
          "type": "string",
          "default": "derived"
        },
        "related_resource": {
          "type": "string",
          "default": "https://api.byu.edu/byuapi/employees"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/groups/values/0/administrators/values/0/employee_role"
      }
    },
    "group_tag": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-variable": "group_tag"
        },
        "api_type": {
          "$ref": "#/definitions/api_type",
          "x-variable": "api_type"
        }
      }
    },
    "basic": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "groups__modify": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__modify"
            },
            "groups__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "groups__delete"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "group_name": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "group_name"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/group_name"
          }
        },
        "group_description": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "group_description"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/group_description"
          }
        },
        "group_type": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "group_type"
            },
            "description": {
              "type": "string",
              "x-variable": "group_type_desc"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "read-only"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/group_type"
          }
        },
        "group_tags": {
          "type": "object",
          "properties": {
            "value_array": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/group_tag"
              },
              "x-variable": "group_tags"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          },
          "required": [
            "value_array",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/group_tags"
          }
        },
        "created_by_byu_id": {
          "$ref": "#/definitions/created_by_byu_id"
        },
        "effective_date": {
          "$ref": "#/definitions/effective_date"
        },
        "expiration_date": {
          "$ref": "#/definitions/expiration_date"
        },
        "max_adds": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "x-variable": "max_adds",
              "x-nullable": true
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          }
        },
        "max_deletes": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "x-variable": "max_deletes",
              "x-nullable": true
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          }
        },
        "admin_days_before_expiration": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "x-variable": "admin_days_before_expiration",
              "x-nullable": true
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          }
        },
        "send_to_administrators": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "send_to_administrators"
            },
            "description": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "send_to_admin_desc"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          }
        },
        "updated_datetime": {
          "$ref": "#/definitions/updated_datetime"
        },
        "updated_by_byu_id": {
          "$ref": "#/definitions/updated_by_byu_id"
        },
        "member_count": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "format": "int32",
              "x-variable": "member_count"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "derived"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/member_count"
          }
        },
        "administrator_count": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "format": "int32",
              "x-variable": "administrator_count"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "derived"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/administrator_count"
          }
        },
        "related_group_count": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "format": "int32",
              "x-variable": "related_group_count"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "derived"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/basic/related_group_count"
          }
        }
      }
    },
    "administrators": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "administrators__info": {
              "x-variable": "administrators__info",
              "$ref": "#/definitions/link"
            },
            "administrators__add": {
              "x-variable": "administrators__add",
              "$ref": "#/definitions/link"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/collection_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/administrator"
          }
        }
      }
    },
    "administrator": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "administrators__info": {
              "$ref": "#/definitions/link",
              "x-variable": "administrator__info"
            },
            "administrators__modify": {
              "$ref": "#/definitions/link",
              "x-variable": "administrator__modify"
            },
            "administrators__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "administrator__delete"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "byu_id": {
          "$ref": "#/definitions/byu_id"
        },
        "is_owner": {
          "type": "object",
          "properties": {
            "value": {
              "x-variable": "is_owner",
              "type": "boolean"
            },
            "api_type": {
              "x-variable": "api_type",
              "$ref": "#/definitions/api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/administrators/values/0/is_owner"
          }
        },
        "admin_type": {
          "type": "object",
          "properties": {
            "value": {
              "x-variable": "admin_type",
              "type": "string"
            },
            "description": {
              "x-variable": "admin_type_desc",
              "type": "string"
            },
            "long_description": {
              "x-variable": "admin_type_long_desc",
              "type": "string"
            },
            "api_type": {
              "x-variable": "api_type",
              "$ref": "#/definitions/api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/administrators/values/0/admin_type"
          }
        },
        "office": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "office",
              "x-nullable": true,
              "default": null
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/employees"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/administrators/values/0/office"
          }
        },
        "employee_role": {
          "$ref": "#/definitions/employee_role"
        },
        "updated_datetime": {
          "$ref": "#/definitions/updated_datetime"
        },
        "updated_by_byu_id": {
          "$ref": "#/definitions/updated_by_byu_id"
        }
      }
    },
    "members": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "members__info": {
              "x-variable": "members__info",
              "$ref": "#/definitions/link"
            },
            "members__current": {
              "$ref": "#/definitions/link",
              "x-variable": "members__current"
            },
            "members__first": {
              "$ref": "#/definitions/link",
              "x-variable": "members__first"
            },
            "members__prev": {
              "$ref": "#/definitions/link",
              "x-variable": "members__prev"
            },
            "members__next": {
              "$ref": "#/definitions/link",
              "x-variable": "members__next"
            },
            "members__last": {
              "$ref": "#/definitions/link",
              "x-variable": "members__last"
            },
            "members__add": {
              "x-variable": "members__add",
              "$ref": "#/definitions/link"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/collection_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/member"
          }
        }
      }
    },
    "member": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "members__info": {
              "$ref": "#/definitions/link",
              "x-variable": "member__info"
            },
            "members__modify": {
              "$ref": "#/definitions/link",
              "x-variable": "members__modify"
            },
            "members__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "members__delete"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "byu_id": {
          "$ref": "#/definitions/byu_id"
        },
        "person_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "person_id"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "read-only"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/person_id"
          }
        },
        "net_id": {
          "type": "object",
          "description": "The user name to used for authentication to BYU web applications",
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "net_id"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "read-only"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/net_id"
          }
        },
        "job_description": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "job_description",
              "x-nullable": true,
              "default": null
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/employees"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/job_description"
          }
        },
        "employee_role": {
          "$ref": "#/definitions/employee_role"
        },
        "department": {
          "type": "object",
          "description": "The person's department",
          "required": [
            "value",
            "api_type",
            "related_resource",
            "domain"
          ],
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "default": null,
              "x-variable": "department"
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/employees"
            },
            "domain": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/meta/departments/v1"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/department"
          }
        },
        "granted_datetime": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "format": "date-time",
              "x-nullable": true,
              "x-variable": "granted_datetime"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/granted_datetime"
          }
        },
        "granted_by_byu_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "granted_by_byu_id",
              "x-nullable": true,
              "default": null
            },
            "description": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "granted_by_name"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/granted_by_byu_id"
          }
        },
        "effective_date": {
          "$ref": "#/definitions/effective_date"
        },
        "expiration_date": {
          "$ref": "#/definitions/expiration_date"
        },
        "updated_datetime": {
          "$ref": "#/definitions/updated_datetime"
        },
        "updated_by_byu_id": {
          "$ref": "#/definitions/updated_by_byu_id"
        },
        "is_implied": {
          "type": "object",
          "properties": {
            "value": {
              "type": "boolean",
              "x-variable": "is_implied"
            },
            "api_type": {
              "type": "string",
              "default": "derived"
            }
          }
        }
      }
    },
    "membership_history": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "membership_history__info": {
              "x-variable": "membership_history__info",
              "$ref": "#/definitions/link"
            },
            "membership_history__current": {
              "$ref": "#/definitions/link",
              "x-variable": "membership_history__current"
            },
            "membership_history__first": {
              "$ref": "#/definitions/link",
              "x-variable": "membership_history__first"
            },
            "membership_history__prev": {
              "$ref": "#/definitions/link",
              "x-variable": "membership_history__prev"
            },
            "membership_history__next": {
              "$ref": "#/definitions/link",
              "x-variable": "membership_history__next"
            },
            "membership_history__last": {
              "$ref": "#/definitions/link",
              "x-variable": "membership_history__last"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/collection_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/member_history"
          }
        }
      }
    },
    "member_history": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "byu_id": {
          "$ref": "#/definitions/byu_id"
        },
        "person_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "person_id"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "read-only"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/person_id"
          }
        },
        "net_id": {
          "type": "object",
          "description": "The user name to used for authentication to BYU web applications",
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "net_id"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "read-only"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/net_id"
          }
        },
        "job_description": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "job_description",
              "x-nullable": true,
              "default": null
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/employees"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/job_description"
          }
        },
        "employee_role": {
          "$ref": "#/definitions/employee_role"
        },
        "department": {
          "type": "object",
          "description": "The person's department",
          "required": [
            "value",
            "api_type",
            "related_resource",
            "domain"
          ],
          "properties": {
            "value": {
              "type": "string",
              "x-nullable": true,
              "default": null,
              "x-variable": "department"
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/employees"
            },
            "domain": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/meta/departments/v1"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/department"
          }
        },
        "granted_datetime": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "format": "date-time",
              "x-nullable": true,
              "x-variable": "granted_datetime"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/granted_datetime"
          }
        },
        "granted_by_byu_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "granted_by_byu_id",
              "x-nullable": true,
              "default": null
            },
            "description": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "granted_by_name"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          },
          "required": [
            "value",
            "api_type"
          ],
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/members/values/0/granted_by_byu_id"
          }
        },
        "effective_date": {
          "$ref": "#/definitions/effective_date"
        },
        "expiration_date": {
          "$ref": "#/definitions/expiration_date"
        },
        "revoked_datetime": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "format": "date-time",
              "x-nullable": true,
              "x-variable": "revoked_datetime"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          }
        },
        "revoked_by_byu_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "revoked_by_byu_id",
              "x-nullable": true,
              "default": null
            },
            "description": {
              "type": "string",
              "x-nullable": true,
              "x-variable": "revoked_by_name"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "default": "system"
            }
          },
          "required": [
            "value",
            "api_type"
          ]
        }
      }
    },
    "related_groups": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "related_groups__info": {
              "x-variable": "related_groups__info",
              "$ref": "#/definitions/link"
            },
            "implied_groups__add": {
              "x-variable": "implied_groups__add",
              "$ref": "#/definitions/link"
            },
            "required_groups__add": {
              "x-variable": "required_groups__add",
              "$ref": "#/definitions/link"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/collection_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/related_group"
          }
        }
      }
    },
    "related_group": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "implied_groups__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "implied_groups__delete"
            },
            "required_groups__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "required_groups__delete"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "relationship_type": {
          "type": "object",
          "properties": {
            "value": {
              "x-variable": "relationship_type",
              "type": "string"
            },
            "api_type": {
              "x-variable": "api_type",
              "$ref": "#/definitions/api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/related_groups/values/0/relationship_type"
          }
        },
        "related_group_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "related_group_id"
            },
            "description": {
              "type": "string",
              "x-variable": "related_group_name",
              "x-nullable": true
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            },
            "key": {
              "$ref": "#/definitions/key"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/related_groups/values/0/related_group_id"
          }
        },
        "created_datetime": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "format": "date-time",
              "x-nullable": true,
              "x-variable": "created_datetime"
            },
            "api_type": {
              "$ref": "#/definitions/api_type",
              "x-variable": "api_type"
            }
          },
          "example": {
            "$ref": "#/x-mock_json/groups/values/0/related_groups/values/0/created_datetime"
          }
        },
        "created_by_byu_id": {
          "$ref": "#/definitions/created_by_byu_id"
        }
      }
    },
    "resource_groups": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "resource_groups__info": {
              "x-variable": "resource_groups__info",
              "$ref": "#/definitions/link"
            },
            "resource_groups__add": {
              "x-variable": "resource_groups__add",
              "$ref": "#/definitions/link"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/collection_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/resource_group"
          }
        }
      }
    },
    "resource_group": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "properties": {
            "resource_groups__info": {
              "$ref": "#/definitions/link",
              "x-variable": "resource_group__info"
            },
            "resource_groups__modify": {
              "$ref": "#/definitions/link",
              "x-variable": "resource_group__modify"
            },
            "resource_groups__delete": {
              "$ref": "#/definitions/link",
              "x-variable": "resource_group__delete"
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "group_id": {
          "$ref": "#/definitions/group_id"
        },
        "resource_id": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "resource_id"
            },
            "description": {
              "type": "string",
              "x-variable": "resource_name"
            },
            "api_type": {
              "type": "string",
              "default": "read-only"
            },
            "domain": {
              "type": "string",
              "default": "https://api.byu.edu/byuapi/meta/groups/resources"
            },
            "key": {
              "type": "boolean",
              "default": true
            }
          }
        },
        "category": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "category"
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/domains/group_resources/v1/:resource_id"
            }
          }
        },
        "resource_description": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "resource_description",
              "x-nullable": true
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/domains/group_resources/v1/:resource_id"
            }
          }
        },
        "is_global_resource": {
          "type": "object",
          "properties": {
            "value": {
              "type": "boolean",
              "x-variable": "is_global_resource"
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/domains/group_resources/v1/:resource_id"
            }
          }
        },
        "is_visible": {
          "type": "object",
          "properties": {
            "value": {
              "type": "boolean",
              "x-variable": "is_visible"
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/domains/group_resources/v1/:resource_id"
            }
          }
        },
        "url": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "x-variable": "url",
              "x-nullable": true
            },
            "api_type": {
              "type": "string",
              "default": "related"
            },
            "related_resource": {
              "type": "string",
              "default": "https://api.byu.edu/domains/group_resources/v1/:resource_id"
            }
          }
        },
        "updated_datetime": {
          "$ref": "#/definitions/updated_datetime"
        },
        "updated_by_byu_id": {
          "$ref": "#/definitions/updated_by_byu_id"
        }
      }
    }
  },
  "parameters": {
    "search_context": {
      "name": "search_context",
      "in": "query",
      "description": "The search context to use.",
      "required": false,
      "type": "string"
    },
    "search_text": {
      "name": "search_text",
      "in": "query",
      "description": "The text to search for in the specified context.",
      "required": false,
      "type": "string"
    },
    "group_tag": {
      "name": "group_tag",
      "in": "query",
      "description": "Filter groups by tag (Formerly known as group attributes)",
      "required": false,
      "type": "string",
      "maxLength": 30,
      "minLength": 1
    },
    "group_id": {
      "name": "group_id",
      "in": "path",
      "description": "The ID of the Group, case insensitive",
      "required": true,
      "type": "string",
      "pattern": "^(?=[a-zA-Z0-9_-])([a-zA-Z0-9_-]+[ ]{0,1})*?[a-zA-Z0-9_-]+$",
      "maxLength": 30,
      "minLength": 1
    },
    "resource_id": {
      "name": "resource_id",
      "in": "path",
      "description": "The ID of the resource group",
      "required": true,
      "type": "string",
      "pattern": "^(?=.*?[0-9a-zA-Z])([0-9a-zA-Z]+[ _-])*?[0-9a-zA-Z]+$",
      "maxLength": 15,
      "minLength": 1
    },
    "resource_groups_resource_id": {
      "name": "resource_groups.resource_id",
      "in": "query",
      "description": "The search context to use.",
      "required": false,
      "type": "string",
      "pattern": "^(?=.*?[0-9a-zA-Z])([0-9a-zA-Z]+[ _-])*?[0-9a-zA-Z]+$",
      "maxLength": 15,
      "minLength": 1
    },
    "byu_id": {
      "name": "byu_id",
      "in": "path",
      "description": "The BYU ID of the Identity",
      "required": true,
      "type": "string",
      "maxLength": 9,
      "minLength": 9
    },
    "implied_group_id": {
      "name": "implied_group_id",
      "in": "path",
      "description": "The ID of the Implied Group",
      "required": true,
      "type": "string",
      "maxLength": 30,
      "minLength": 1
    },
    "required_group_id": {
      "name": "required_group_id",
      "in": "path",
      "description": "The ID of the Required Group",
      "required": true,
      "type": "string",
      "maxLength": 30,
      "minLength": 1
    },
    "relationship_types": {
      "name": "relationship_types",
      "in": "query",
      "description": "Filter by relationship_type in related groups",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "member_byu_id": {
      "name": "members.byu_id",
      "in": "query",
      "description": "The BYU ID of the Identity",
      "required": false,
      "type": "string",
      "maxLength": 9,
      "minLength": 9
    },
    "administrator_byu_id": {
      "name": "administrators.byu_id",
      "in": "query",
      "description": "The BYU ID of the Identity",
      "required": false,
      "type": "string",
      "maxLength": 9,
      "minLength": 9
    },
    "subset_start_offset": {
      "name": "subset_start_offset",
      "in": "query",
      "description": "The offset for the first resource in the collection to be returned in this subset.",
      "required": false,
      "type": "integer",
      "default": 0
    },
    "subset_size": {
      "name": "subset_size",
      "in": "query",
      "description": "The number of resources in the collection to return (defaults to the value of max_subset_size).",
      "required": false,
      "type": "integer",
      "default": 100,
      "minimum": 1
    },
    "subset_start_key": {
      "name": "subset_start_key",
      "in": "query",
      "description": "The primary key of the resource to start the subset with. Optional alternative to subset_start_offset.",
      "required": false,
      "type": "string",
      "default": "group_id"
    },
    "field_sets": {
      "name": "field_sets",
      "in": "query",
      "description": "Used to specify which field sets you would like returned in the collection",
      "required": false,
      "default": [
        "basic"
      ],
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "basic",
          "administrators",
          "members",
          "related_groups",
          "resource_groups"
        ]
      }
    },
    "modify_group_body": {
      "name": "modify_group_body",
      "in": "body",
      "description": "The JSON body for adding or updating a group",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "group_name": {
            "type": "string",
            "maxLength": 50,
            "minLength": 1
          },
          "group_type": {
            "type": "string",
            "maxLength": 1,
            "minLength": 1,
            "default": "M"
          },
          "group_description": {
            "type": "string",
            "maxLength": 4000
          },
          "group_tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 30,
              "minLength": 1
            }
          },
          "expiration_date": {
            "type": "string",
            "format": "date"
          },
          "max_adds": {
            "type": "integer",
            "maximum": 999999
          },
          "max_deletes": {
            "type": "integer",
            "maximum": 999999
          },
          "admin_days_before_expiration": {
            "type": "integer",
            "maximum": 999
          },
          "send_to_administrators": {
            "type": "string",
            "x-nullable": true,
            "enum": [
              "A",
              "B",
              "F",
              "N",
              "O",
              null
            ]
          }
        },
        "required": [
          "group_name"
        ],
        "example": {
          "group_name": "Sample Group Name",
          "group_type": "M",
          "group_description": "This group is a sample group for the Groups API",
          "group_tags": [
            "FAKE",
            "SAMPLE"
          ],
          "expiration_date": "2020-11-20",
          "max_adds": 9,
          "max_deletes": 9,
          "admin_days_before_expiration": 9,
          "send_to_administrators": "B"
        }
      }
    },
    "modify_member_body": {
      "name": "modify_members_body",
      "in": "body",
      "description": "The JSON body for adding or updating the members of a group",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "expiration_date": {
            "type": "string",
            "format": "date"
          }
        },
        "example": {
          "expiration_date": "2018-11-20"
        }
      }
    },
    "modify_administrator_body": {
      "name": "modify_administrators_body",
      "in": "body",
      "description": "The JSON body for adding or updating an administrator",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "is_owner": {
            "type": "boolean"
          },
          "admin_type": {
            "type": "string",
            "description": "(R)ead type allows admin to view all admins and members, (A)dmin allows read rights plus add and remove group members, (O)wner all of admin rights plus modify group attributes and add or remove other admins",
            "maxLength": 1,
            "minLength": 1
          }
        },
        "required": [
          "is_owner"
        ],
        "example": {
          "is_owner": true,
          "admin_type": "R"
        }
      }
    },
    "modify_related_group_body": {
      "name": "modify_related_group_body",
      "in": "body",
      "description": "The JSON body for adding or updating a related group",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "relationship_type": {
            "type": "string",
            "maxLength": 50,
            "minLength": 1
          }
        },
        "required": [
          "relationship_type"
        ],
        "example": {
          "relationship_type": "IMPLIES"
        }
      }
    },
    "revoked_datetime_gt_or_eq": {
      "name": "revoked_date[gt_or_eq]",
      "in": "query",
      "description": "Filter result by revoked datetime",
      "required": false,
      "type": "string",
      "format": "date"
    }
  },
  "responses": {
    "204": {
      "description": "No Content"
    },
    "400": {
      "description": "Bad Request",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 400,
              "message": "Bad Request"
            },
            "validation_information": [
              "Tell you more information if available"
            ]
          }
        }
      }
    },
    "401": {
      "description": "Unauthorized",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 401,
              "message": "Unauthorized"
            },
            "validation_information": [
              "Tell you more information if available"
            ]
          }
        }
      }
    },
    "403": {
      "description": "Forbidden",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 403,
              "message": "Forbidden"
            },
            "validation_information": [
              "Tell you what rights your missing"
            ]
          }
        }
      }
    },
    "404": {
      "description": "Not Found",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 404,
              "message": "Not Found"
            },
            "validation_information": [
              "More information if any"
            ]
          }
        }
      }
    },
    "409": {
      "description": "Conflict",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 409,
              "message": "Conflict"
            },
            "validation_information": [
              "Tell you what to fix before resubmit"
            ]
          }
        }
      }
    },
    "500": {
      "description": "Internal Server Error",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 500,
              "message": "Internal Server Error"
            },
            "validation_information": [
              "Tell you more information if available"
            ]
          }
        }
      }
    },
    "502": {
      "description": "Bad Gateway",
      "schema": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/definitions/metadata"
          }
        }
      },
      "examples": {
        "application/json": {
          "metadata": {
            "validation_response": {
              "code": 502,
              "message": "Bad Gateway"
            },
            "validation_information": [
              "Tell you more information if available"
            ]
          }
        }
      }
    },
    "504": {
      "description": "Gateway Timeout"
    },
    "default": {
      "description": "Unknown Error"
    }
  },
  "tags": [
    {
      "name": "groups",
      "description": "The Groups API top-level resource."
    },
    {
      "name": "administrators",
      "description": "The Groups API sub-resource used to retrieve the group administrators."
    },
    {
      "name": "members",
      "description": "The Groups API sub-resource used to retrieve the group members."
    },
    {
      "name": "related_groups",
      "description": "The Groups API sub-resource used to retrieve the related groups (ie, implied groups, required, etc.)."
    },
    {
      "name": "resource_groups",
      "description": "The Groups API sub-resource used to retrieve the resource groups (ie, links that appear in my.byu.edu)."
    }
  ],
  "externalDocs": {
    "description": "Developer Portal",
    "url": "https://developer.byu.edu/api/groups"
  },
  "x-mock_json": {
    "groups": {
      "links": {
        "groups__info": {
          "rel": "groups__info",
          "href": "https://api.byu.edu/byuapi/groups/v1/",
          "method": "GET"
        },
        "groups__current": {
          "rel": "self",
          "href": "https://api.byu.edu/byuapi/groups/v1/?subset_start_offset=2&subset_size=1",
          "method": "GET"
        },
        "groups__first": {
          "rel": "groups__first",
          "href": "https://api.byu.edu/byuapi/groups/v1/?subset_start_offset=1&subset_size=1",
          "method": "GET"
        },
        "groups__prev": {
          "rel": "groups__prev",
          "href": "https://api.byu.edu/byuapi/groups/v1/?subset_start_offset=1&subset_size=1",
          "method": "GET"
        },
        "groups__next": {
          "rel": "groups__next",
          "href": "https://api.byu.edu/byuapi/groups/v1/?subset_start_offset=3&subset_size=1",
          "method": "GET"
        },
        "groups__last": {
          "rel": "groups__last",
          "href": "https://api.byu.edu/byuapi/groups/v1/?subset_start_offset=10&subset_size=1",
          "method": "GET"
        }
      },
      "metadata": {
        "validation_response": {
          "code": 200,
          "message": "OK"
        },
        "validation_information": [
          "Public Information Only"
        ],
        "cache": {
          "date_time": "2018-11-03T14:41:00.000Z"
        },
        "collection_size": 10,
        "default_subset_size": 100,
        "max_subset_size": 1000,
        "subset_size": 1,
        "subset_start": 2,
        "field_sets_returned": [
          "basic",
          "members",
          "administrators",
          "related_groups",
          "resource_groups"
        ],
        "field_sets_available": [
          "basic",
          "members",
          "administrators",
          "related_groups",
          "resource_groups"
        ],
        "field_sets_default": [
          "basic"
        ]
      },
      "values": [
        {
          "links": {
            "groups__info": {
              "rel": "self",
              "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}?field_sets=basic,members,administrators,related_groups",
              "method": "GET"
            }
          },
          "metadata": {
            "validation_response": {
              "code": 200,
              "message": "OK"
            },
            "validation_information": [
              "Public Information Only"
            ],
            "cache": {
              "date_time": "2018-11-03T14:41:00.000Z"
            },
            "collection_size": 1,
            "field_sets_returned": [
              "basic",
              "members",
              "administrators",
              "related_groups",
              "resource_groups"
            ],
            "field_sets_available": [
              "basic",
              "members",
              "administrators",
              "related_groups",
              "resource_groups"
            ],
            "field_sets_default": [
              "basic"
            ]
          },
          "basic": {
            "links": {
              "groups__info": {
                "rel": "self",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}",
                "method": "GET"
              },
              "groups__modify": {
                "rel": "groups__modify",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}",
                "method": "PUT"
              },
              "groups__delete": {
                "rel": "groups__delete",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}",
                "method": "DELETE"
              }
            },
            "metadata": {
              "validation_response": {
                "code": 200,
                "message": "OK"
              },
              "validation_information": [
                "WARNING: Deleting group has implications",
                "There are 40 related groups",
                "There are 300 members",
                "There are 4 administrators"
              ],
              "cache": {
                "date_time": "2018-11-03T14:41:00.000Z"
              }
            },
            "group_id": {
              "value": "SAMPLE_GROUP",
              "api_type": "read-only",
              "key": true
            },
            "group_name": {
              "value": "Sample Group",
              "api_type": "modifiable"
            },
            "group_description": {
              "value": "This group is for the Groups API sample JSON",
              "api_type": "modifiable"
            },
            "group_type": {
              "value": "M",
              "description": "Manual",
              "api_type": "read-only"
            },
            "group_tags": {
              "value_array": [
                {
                  "value": "BOSS",
                  "api_type": "modifiable"
                },
                {
                  "value": "ADMINISTRATIVE",
                  "api_type": "modifiable"
                }
              ],
              "api_type": "modifiable"
            },
            "created_by_byu_id": {
              "value": "012345678",
              "description": "Cosmo Cougar",
              "api_type": "modifiable"
            },
            "effective_date": {
              "value": "2018-11-07",
              "api_type": "modifiable"
            },
            "expiration_date": {
              "value": "2018-11-07",
              "api_type": "modifiable"
            },
            "max_adds": {
              "value": 9,
              "api_type": "modifiable"
            },
            "max_deletes": {
              "value": 9,
              "api_type": "modifiable"
            },
            "admin_days_before_expiration": {
              "value": 9,
              "api_type": "modifiable"
            },
            "send_to_administrators": {
              "value": "B",
              "description": "Owners and Full-Time Administrators",
              "api_type": "modifiable"
            },
            "updated_datetime": {
              "value": "2018-11-07T10:45:00.000Z",
              "api_type": "modifiable"
            },
            "updated_by_byu_id": {
              "value": "012345678",
              "description": "Cosmo Cougar",
              "api_type": "modifiable"
            },
            "member_count": {
              "value": 300,
              "api_type": "derived"
            },
            "administrator_count": {
              "value": 4,
              "api_type": "derived"
            },
            "related_group_count": {
              "value": 40,
              "api_type": "derived"
            }
          },
          "members": {
            "links": {
              "members__info": {
                "rel": "members__info",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members",
                "method": "GET"
              },
              "members__current": {
                "rel": "self",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members?subset_start_offset=2&subset_size=1",
                "method": "GET"
              },
              "members__first": {
                "rel": "members__first",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members?subset_start_offset=1&subset_size=1",
                "method": "GET"
              },
              "members__prev": {
                "rel": "members__prev",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members?subset_start_offset=1&subset_size=1",
                "method": "GET"
              },
              "members__next": {
                "rel": "members__next",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members?subset_start_offset=3&subset_size=1",
                "method": "GET"
              },
              "members__last": {
                "rel": "members__last",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members?subset_start_offset=10&subset_size=1",
                "method": "GET"
              },
              "members__modify": {
                "rel": "members__modify",
                "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members",
                "method": "PUT"
              }
            },
            "metadata": {
              "validation_response": {
                "code": 200,
                "message": "OK"
              },
              "validation_information": [
                "Public Information Only"
              ],
              "cache": {
                "date_time": "2018-11-03T14:41:00.000Z"
              },
              "collection_size": 10,
              "default_subset_size": 100,
              "max_subset_size": 1000,
              "subset_size": 1,
              "subset_start": 2
            },
            "values": [
              {
                "links": {
                  "member__info": {
                    "rel": "self",
                    "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members/{byu_id}",
                    "method": "GET"
                  },
                  "members__delete": {
                    "rel": "members__delete",
                    "href": "https://api.byu.edu/byuapi/groups/v1/{group_id}/members/{byu_id}",
                    "method": "DELETE"
                  }
                },
                "metadata": {
                  "validation_response": {
                    "code": 200,
                    "message": "OK"
                  },
                  "validation_information": [
                    "Public Information Only"
                  ],
                  "cache": {
                    "date_time": "2018-11-03T14:41:00.000Z"
                  },
                  "restricted": false,
                  "collection_size": 1
                },
                "group_id": {
                  "value": "SAMPLE_GROUP",
                  "description": "Sample Group",
                  "api_type": "read-only",
                  "key": true
                },
                "byu_id": {
                  "value": "012345678",
                  "description": "Cosmo Cougar",
                  "api_type": "read-only",
                  "key": true
                },
                "person_id": {
                  "value": "012245672",
                  "api_type": "read-only"
                },
                "net_id": {
                  "value": "cosmo5",
                  "api_type": "read-only"
                },
[...]
